@import "../../../variable.scss";

.top-nav-bar {
  background: $dbblue;
  font-family: 'OpenSans-SemiBold';
  height: 65px;
  padding: 0 100px;
  color: $white;
  font-size: 14px;
  background-image: linear-gradient(to right, $dbblue, $startblue);

  .logo {
    cursor: pointer;

    &:hover {
      box-shadow: 2px 2px 50px 2px #0a498d;
    }
  }

  .each-menu {
    cursor: pointer;
    margin: 0 60px 0 0;

    a {
      color: $white;

      &:active,
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }

  .logout {
    cursor: pointer;
  }
}
