<div class="row px-4">
  <div class="col-md-4 p-5">
    <div class="key-section-wrapper">
      <div class="image-wrapper pt-2">
        <div class="image-background">
          <div class="image-feat-one mt-1">
          </div>
        </div>
      </div>
      <h5>feature 1</h5>
      <div class="p-4 description">
        Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to
        emphasise design elements over content.
      </div>
    </div>
  </div>
  <div class="col-md-4 p-5">
    <div class="key-section-wrapper">
      <div class="image-wrapper pt-2">
        <div class="image-background">
          <div class="image-feat-two mt-1">
          </div>
        </div>
      </div>
      <h5>feature 2</h5>
      <div class="p-4 description">
        Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to
        emphasise design elements over content.
      </div>
    </div>
  </div>
  <div class="col-md-4 p-5">
    <div class="key-section-wrapper">
      <div class="image-wrapper pt-2">
        <div class="image-background">
          <div class="image-feat-three mt-1">
          </div>
        </div>
      </div>
      <h5>feature 3</h5>
      <div class="p-4 description">
        Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to
        emphasise design elements over content.
      </div>
    </div>
  </div>
</div>
